<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='templates/list.css') }}">
    <title>U.E.R.L Entities Listing</title>
  </head>
  <body>
    <div class="listing">
      {% for entity in entitys%}
        <div class="entity" >
          {% if entity['classified'] == False %}
            <a class="public" herf="/entities/{{ entity['id'] }}">ENTITY-{{ entity["id"] }}</a></b>
          {% else %}
              <a class="classified" herf="/entities/{{ entity['id'] }}">ENTITY-{{ entity["id"] }} [CLASSIFIED]</a></b>
          {% endif %}
      {% endfor %}
        </div>
    </div>
  </body>
  <noscript class="no-js">Javascript is Disabled!</noscript>
</html>