<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='templates/list.css') }}">
    <title>U.E.R.L Entities Listing</title>
  </head>
  <body>
    <div class="listing">
      {% for entity in entitys%}
        {% if entity['classified'] == False %}
          <p class="public" herf="/entity/{{ entity['id'] }}">ENTITY-{{ entity["id"] }}</p></b>
        {% else %}
          <p class="classified" herf="/entity/{{ entity['id'] }}">ENTITY-{{ entity["id"] }} [CLASSIFIED]</p></b>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>