<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>U.E.R.L | Under Construction!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates/work.css') }}">
  </head>
  <body>
    <h1 class="center">Under Construction!</h1>
    <h3 class="center">The U.E.R.L Corperation is working on the website! </h3>
    <h5 class="center">There is only <b style="color: red;">8</b> entities so far.</h5>
    <h5 class="center">Almost there...</h5>
  </body>
</html>